#area-mensagens{
    border: 1px solid #00ff00;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#area-mensagens.destaque {
    text-transform: uppercase;
    font-size: 30px;
    color: #ff0000
}
